<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title %>
    </title>
</head>

<body>
    <h1>
        <%=title%>
    </h1>

    <a href="/states">View All States</a>

    <form action="/states" method="POST" class="new-form">
        <label>Name:
            <input type="text" name="name">
        </label>
        <label>Year Established:
            <input type="number" name="yearEstablished">
        </label>
        <label>Region:
            <select name="region">
                <option value="West">West</option>
                <option value="Midwest">Midwest</option>
                <option value="Southwest">Southwest</option>
                <option value="Southeast">Southeast</option>
                <option value="Northeast">Northeast</option>
            </select>
        </label>

        <button type="submit">Add State</button>
    </form>

</body>

</html>